<h1> New Game </h1>
<p class="fs-1"> <%= @letters.join(' ')%> </p>



<p>What is the longest word you can find? </p>

<form action="/score" method= 'POST' data-turbo="false">
  <input type="text" name="user_word">
  <input type="submit" class="btn btn-primary" value="Play">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :letters, @letters %>
</form>
